<!DOCTYPE html>
<html>

<head>
	<title>
		MY MOVIE STUDIOS
	</title>
	<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
		<div class id="div1">
	<h1>mymoviestudios.com</h1>
	<h1>THE FUTURE OF MOVIE MAKING IS HERE</h1>
	<h1>COMING SOON</h1>
	<div class="centered" class= "">
<img src ="assets/movieclip.png">
	</div>
		</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<script src="js.js"></script>

</body>
</html>